.topper-names{
    padding:10px;
    background-color: aqua;
    width:100%;
    margin:5px;
    border:1px solid black;
}
.topper-score{
    position: absolute;
    right:5px;
    display: inline-block;
    color:white;
}
.topper{
    font-weight: bold;
    display: inline-block;
}